
<div class="container">

  <div class="row" *ngIf="dish">

  <!-------------------------------- CARD / DESCRIPTION ----------------------------------------->
    <div class="col-12 col-sm-6">

      <div class="card">

        <div class="card-body">

          <h5 class="card-title">{{dish.name | uppercase}}</h5>
          <img class="card-img-top" src={{dish.image}} alt={{dish.name}}>
          <p class="card-text">{{dish.description}}</p>
          <a href="#" class="card-link btn btn-warning btn-sm">LIKE</a>
          <a href="#" class="card-link btn btn-warning btn-sm">SHARE</a>
          <a (click)="goBack()" class="card-link btn btn-primary btn-sm">BACK</a>

        </div>

      </div>

    </div>

    <!-------------------------------- CARD / COMMENTS ----------------------------------------->
    <div class="col-12 col-sm-6">
      
      <div class="card">

        <div class="card-body">

          <h5>Comments</h5>

          <ul class="list-group list-group-flush">

            <li class="list-group-item" *ngFor="let comment of dish.comments">
              <div style="font-weight:600;">{{comment.comment}}</div>
              <div>{{comment.rating}} Stars</div>
              <div>-- {{comment.author}}, {{comment.date | date: 'MMM. dd, yyyy'}}</div>
            </li>
            
          </ul>

        </div>

      </div>

    </div>

  </div>

</div>


